{% block content %}
<aside class="sidebar">
    <div class="mobile_nav">
        <div class="logo">
            <img src="{{ asset( 'assets/img/logo.svg' ) }}" alt="Logo">
        </div>
        <span id="openMenu">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>

    <div class="logo">
        <a href="http://xray.local/"><img src="{{ asset('assets/img/logo.svg' ) }}" alt="Logo"></a>
    </div>
    <header>
        {% if app.user and app.user.email %}
        <div class="profile">
            <div class="profileInfo">
                <img class="profileInfoPhoto" src="{{ asset( 'assets/img/avatar.jpg' ) }}" alt="User">
                        <span class="profileInfoLogin">{{ username }}</span>
                    </div>
                    <div class="profileBalance">
                        <h3>Мой баланс</h3>
                        <div class="profileBalanceAmount coins">
                            <img src="{{asset( 'assets/img/coin.svg' ) }}" alt="Coins">
                            <strong>5600 C</strong>
                        </div>
                        <div class="profileBalanceAmount">
                            <img src="{{asset( 'assets/img/ruble.svg' ) }}" alt="Ruble">
                            <strong>56400 ₽</strong>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="auth">
                    <p>Авторизироваться через</p>
                    <ul>
                        <li>
                            <a href="#signIn" class="openModal">
                                <img src="{{asset( 'assets/img/email.svg' ) }}" alt="">
                                Email
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{asset( 'assets/img/steam.svg' ) }}" alt="">
                                Steam
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{asset( 'assets/img/google.svg' ) }}" alt="">
                                Google
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <nav>
                <ul class="main-menu" id="menu">
                    {% if app.user and app.user.email %}
                        <li>
                            <a href={{ path('account_page') }}>
                                <img src="{{asset( 'assets/img/profile.svg' ) }}" alt="Личный кабинет">
                                Личный кабинет
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href={{ path('main_page') }}>
                            <img src="{{asset( 'assets/img/case.svg' ) }}" alt="Кейсы">
                            Кейсы
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="{{asset( 'assets/img/tasks.svg' ) }}" alt="Выполнять задания">
                            Выполнять задания
                        </a>
                    </li>
                    <li>
                        <a href={{ path ('my_winnings') }}>
                            <img src="{{asset( 'assets/img/gains.svg' ) }}" alt="Мои выигрыши">
                            Мои выигрыши
                        </a>
                    </li>
                    <li>
                        <a href={{ path ('faq_page') }}>
                            <img src="{{asset( 'assets/img/faq.svg' ) }}" alt="F.A.Q">F.A.Q
                        </a>
                    </li>
                    <li>
                        <a href={{ path ('aboutUs_page') }}>
                            <img src="{{asset( 'assets/img/about.svg' ) }}" alt="О нас">
                            О нас
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="{{asset( 'assets/img/bonus.svg' ) }}" alt="Бонусы">
                            Бонусы
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <footer>
            <div class="footerLogo">
                <img src="{{asset( 'assets/img/logo.png' ) }}" alt="jackpot">
            </div>
            <div class="copyright">
                <h4>mr.simple44</h4>
                <h3>CS:GO Rewind</h3>
                <p>© 2020</p>
            </div>
        </footer>
    </aside>
{% endblock %}